* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

  background-image: url(https://img1.akspic.ru/previews/4/0/0/5/5/155004/155004-minimalizm-ekoregion-fioletovyj-art-purpurnyj_cvet-x750.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  font-size: 60px;
  color: blueviolet;
  margin-top: 10px;
  justify-content: center;
}

.field {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 2px dashed rgba(19, 3, 244, 0.464);
  border-bottom: 2px dashed rgba(19, 3, 244, 0.464);
}

.field:not(:last-child) {
  margin-right: 20px;
}

.value {
  font-size: 100px;
  color: teal;
}

button {
  width: 60px;
  border: transparent;
  border-radius: 10px;
  color: teal;
  background-color: rgba(193, 77, 193, 0.583);
  font-size: 18px;

}
